.banner01 {
    display: flex;
    align-items: center;    /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente, se necessário */
    height: 100%;           /* Define uma altura para aplicar o alinhamento */
    background-color: black;
}

.banner01 p{
    padding-top: 15px!important;
    color: white!important;
    font-size: 1.5em;
}

.banner01 a{
    color: black!important;
    background-color: rgb(196, 175, 136);
    padding: 5px 10px;
    border-radius: 30px;
}