@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black!important;
  box-shadow: none!important;
}

body{
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px!important;
  text-decoration: none;
  overflow-x: hidden;
}

/* Estilo para a Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para o conteúdo abaixo da Navbar */
.column {
  margin-top: 40px;
}

/* No arquivo de estilo do Banner01 */
.banner {
  margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}

.footer {
  margin-top: 20px; /* Ajuste o valor conforme necessário */
}

.bottom{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */ 
}